<div class='mx-auto col-11 col-sm-10 col-lg-8 col-xl-6'>
      <h1>welcome to <strong>GUN REVIEW</strong>  !!</h1>
      <h5>ゲストユーザー</h5>
      <p>ゲストユーザーは会員情報の編集をすることができません。</p>
      <p>ゲストユーザーはメールアドレス・パスワードの変更はできません。</p>
      <p>ゲストユーザーを削除することはできません。</p>
</div>